@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');

@media (max-width:390px){
    header { min-width: 390px; min-height: 844px;}
    .category { min-width: 390px;}
    header > .main-title { 
        @apply text-[60px]
    }
    .contents-grid {
        /* @apply grid-cols-1 */
    }
}

@media (max-width:768px) {
    .mini-header {
        min-width: 768px;
    }
    .contents-grid {
        /* @apply grid-cols-2 */
    }
}

@media (min-width:974px) {
    .mini-header>.seoul-right { max-width: 1000px;}
}

.btn-category {
    @apply inline-block h-[72px] w-[34%]
    text-xl font-normal font-eng-title
    hover:bg-white hover:text-darknavy
    disabled:bg-white disabled:text-darknavy disabled:text-[26px] disabled:font-bold
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* header parallax */
.seoul-bg {
    /* sky */
    @apply absolute w-[2100px] h-[101vh] bottom-0 right-0 top-0
    
}

.seoul-left {
    /* mountain2 */
    @apply absolute bottom-[-100px] w-[1100px] 
    left-0 z-[18]
}

.seoul-right {  
    /* mountain1 */
    @apply absolute bottom-[-100px] w-[1500px]
    right-0 z-[19]
}

.main-title {
    @apply absolute z-[19] leading-[4rem]
    text-center w-full text-[10rem] text-offwhite font-eng-nav font-extrabold
    top-[calc(50%-2rem)]
}



/* header */
header {
    @apply 
    w-full h-screen relative 
    overflow-hidden
    /* content:''; */
    after:content-[''] after:absolute after:w-full after:h-full
    after:left-0 after:top-0 after:bg-[rgba(0,0,0,0.05)] after:z-[25]
}

.mini-header {
    @apply w-full h-[250px] relative overflow-hidden
    after:content-[''] after:absolute after:w-full after:h-[250px]
    after:left-0 after:top-0 after:z-[25]
}



/* navigation */
/* 토글 메뉴버튼 */
.side-menu-button {
    @apply fixed z-50
    top-0 right-0 grid place-items-center
    w-[88px] h-[88px] 
    bg-[url('/public/menu.png')]
    bg-no-repeat bg-center
    bg-menu
}

body.open .side-menu-button {
    @apply bg-[url('/public/close.png')]
}

/* 사이드메뉴 배경 */
.side-background {
    @apply fixed z-[48]
    top-[44px] 
    /* left-[44px] */
    right-[44px]
    aspect-square 
    h-[88px] bg-darknavy
    rounded-[50%] 
    opacity-0 
    transition duration-[0.5s]
    translate-x-[50%] translate-y-[-50%]
    scale-0
}

body.open .side-background {
    @apply h-[450vh] opacity-90 
    -scale-150 duration-[0.6s]
}

/* 사이드 메뉴 */
.side-menu {
    @apply fixed z-[49]
    top-0 right-0 flex items-center justify-end text-right
    p-20
    h-full w-full transition duration-[0.05s]
    invisible
}

body.open .side-menu {
    @apply opacity-100 visible
}

body .side-menu nav:hover > a {
    @apply opacity-25
}

body .side-menu nav > a:hover {
    @apply opacity-100 translate-x-[8px]
}

.side-menu nav {
    @apply flex flex-col
    justify-center items-end pl-[100px]
}

/* 메뉴 나오는 효과 */
.side-menu a {
    @apply relative text-white text-[32px]
    pt-[20px] pr-[20px] pb-[20px]
    opacity-0 
    transition duration-[0.4s]
    font-eng-nav font-semibold
}

/* 메뉴 화살표 */
.side-menu a::after {
    @apply content-[''] absolute
    top-1/2 left-[-26px] translate-y-[-50%]
    w-[10px] h-[10px]
    border-t-[3px] border-r-[3px]
    opacity-0 -rotate-[135deg] transition duration-[0.3s]
}
.side-menu a:hover::after {
    @apply opacity-100
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -30px 0;
    }
    100% {
        opacity: 1;
    }
}

body.open .side-menu a {
    opacity: 1;
    animation: appear 0.35s backwards;
}





/* body */
section {
    @apply w-full 
    /* bg-darknavy */
    relative
}

/* body - main*/
.shadow {
    @apply absolute bottom-full
    h-[300px] w-full left-0 z-20
    bg-gradient-to-t from-darknavy
}

.contents-category {
    @apply bg-white text-darknavy
    px-20 py-10
}


/* body - info */
.info {
    @apply text-darknavy bg-white/90 rounded-3xl
    px-20 py-10 h-[50rem]
    w-[80%] mx-auto 
}


/* footer */
footer {
    @apply px-20 py-8
    /* bg-gradient-to-t from-darknavy/50 */
}

.container-footer {
    @apply my-5
}

.button-sitemap {
    @apply text-[12px] font-kor font-light
    bg-darkgrey text-white
    inline-block h-[24px] leading-[24px] mr-3 px-2
}

.footer-title {
    @apply text-[13px] font-bold font-kor
    text-darkgrey h-[36px]
}

.footer-link {
    @apply text-[11px] font-kor font-normal
    text-darkgrey block h-[24px]
}

.policy-link {
    @apply text-[11px] font-kor2 px-4
}



/* grid container */
.contents-grid {
    @apply grid-cols-3
}

/* item cell */
.gridcell-container {
    @apply justify-self-center 
    /*border border-cpurple border-4 */
    m-2
}
.gridcell-item {
    @apply inline-block 
    /* border border-darknavy */
    w-[300px] font-kor
    p-6 my-8
}

.gridcell-item {
    @apply relative
}

.seperate-line {
    @apply absolute 
    h-[4px] w-[20%]
    top-[-20px]
    left-[5px]
    bg-darknavy
}

.gridcell-main-image {
    @apply h-[200px] w-[250px]
    bg-lightgrey rounded overflow-hidden
}

.gridcell-main-text {
    @apply px-1 py-4
}

.gridcell-main-text-title {
    @apply text-[16px] font-semibold
    pb-1
    text-darknavy 
}

.gridcell-main-text-content {
    @apply text-darkgrey text-[13px]
}

.gridcell-sub {
    @apply border p-2
}

.gridcell-sub-text {
    @apply px-1
    text-[10px] text-grey
}

.gridcell-sub-text a:hover {
    @apply text-cpurple 
}

.gridcell-sub-text-content{
    @apply py-[2px]
}